body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #0f172a;
  color: white;
}

button {
  padding: 10px 15px;
  border: none;
  background: #22c55e;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

#email {
  margin-top: 15px;
  font-size: 18px;
  color: #38bdf8;
}

li {
  background: #1e293b;
  margin: 10px 0;
  padding: 10px;
  list-style: none;
}
